.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }
  
  .switch > span {
    position: absolute;
    top: 7px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.checkToggleRoundFlat:checked ~ .off {
    color: #F36F25;
  }
  
  input.checkToggleRoundFlat:checked ~ .on {
    color: #fff;
  }
  
  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: #F36F25;
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
  }
  
  .checkToggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .checkToggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.checkToggleRoundFlat + label {
    padding: 2px;
    width: 60px;
    height: 22px;
    background-color: rgb(242, 143, 57);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 3px;
  }
  
  input.checkToggleRoundFlat + label:before,
  input.checkToggleRoundFlat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.checkToggleRoundFlat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: rgb(242, 143, 57);
    border-radius: 3px;
  }
  input.checkToggleRoundFlat + .languageLabel:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 30px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  
  input.checkToggleRoundFlat:checked + label {
  }
  
  input.checkToggleRoundFlat:checked + label:after {
    margin-left: 25px;
  }