.categoriesItem {
  display: flex;
  justify-content: space-between;
}

.btnMore {
  background-color: inherit;
  width: 25px;
  margin: 3px;
}

.btnAdd {
    background-color: inherit;
    width: 35px;
}
