.categoriesItem {
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid gray;
      padding: 5px 5px 5px 15px;
      transition: all 0.3s ease-in-out;
    }

    .categoriesItem:focus,
    .categoriesItem:hover {
      cursor: pointer;
      color: var(--main-color);
    }

    .categoriesItemName {
      width: 90%;
      text-align: start;
    }
    
    .btnMore {
      background-color: inherit;
      width: 10%;
      padding: 0px;
      display: flex;
      justify-content: flex-end;
    }

    .btnMoreIcon {
      width: 20px;
    }

    .btnMore:focus,
    .btnMore:hover {
      cursor: pointer;
      fill: var(--main-color);
    }