.transactionForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 10%);
  margin: 0px 7px;
  border-radius: 3px;
}

input,
textarea,
select {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

label {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: rgb(117, 117, 117);
  font-size: 18px;
}

.labelTitle {
  align-self: flex-start;
  padding: 5px;
  color: rgb(117, 117, 117);
  font-size: 18px;

}

.radioWrapper {
  padding: 0px 0px 5px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.radioText {
  padding: 0px;
  margin: 0px 20px 0px 5px;
  font-size: 20px;
  color:  rgb(83, 82, 82);
}

.timeWrapper {
  display: flex;
  align-items: flex-end;
  background-color: rgb(234, 234, 234);
}

.dateText {
  color: #3180ff;
  font-weight: bold;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
}

.categoryTitle {
    align-self: flex-start;
  color: rgb(117, 117, 117);
  font-size: 18px;
  padding: 5px 5px 0px 5px;
}

.categoryBtn {
  padding-left: 7px;
  font-size: 20px;
  background-color: inherit;
  color:  rgb(83, 82, 82);
  font-weight: bold;
}

.categoryBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7px;
}

.categoryBtnTriangle {
    transform: rotate(90deg);
    font-size: 26px;
    color:  rgb(113, 113, 113);
}

.greybgc {
  background-color: rgb(234, 234, 234);
}

.formBtnSubmit {
  border-radius: 3px;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  align-self: center;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  transition: scale 0.3s ease 0s, background-color 0.3s ease 0s;
}

.formBtnSubmit:hover,
.formBtnSubmit:focus {
  cursor: pointer;
  scale: 1.05;
  background-color: rgb(242, 160, 89);
}




