@import "../../assets/styles/mixins.scss";

.transactionForm {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 0px 7px;
  border-radius: var(--border-radius);
}

input,
textarea,
select {
  background-color: transparent;
  border: none;
  font-size: 20px;
  outline: none;
  width: 100%;
}

label {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: rgb(117, 117, 117);
  font-size: 18px;
}

.radioWrapper {
  display: flex;
  margin-left: 5px;
}

.radioWrapper .input {
  @include visually-hidden;

  &:checked + .radioLabel.radio {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    box-sizing: content-box;
  }
}

.radioLabel{
  display: flex;
  flex-direction: column;
}

.radio {
  align-items: center;
  margin-bottom: 3px;
  

  &.radioLabel {
    font-size: 20px;
    color:  rgb(83, 82, 82);
    padding: 5px 10px;
    border-radius: 3px;
    

    &:active {
      transform: scale(0.95);
    }
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.labelTitle {
  align-self: flex-start;
  padding: 5px;
  color: rgb(117, 117, 117);
  font-size: 18px;

}

.timeWrapper {
  display: flex;
  align-items: flex-end;
  background-color: var(--secondary-color);
}

.dateText {
  color: #535252;
  font-weight: bold;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
}

.categoryTitle {
    align-self: flex-start;
  color: rgb(117, 117, 117);
  font-size: 18px;
  padding: 5px 5px 0px 5px;
}

.categoryBtnLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-left: 7px;
  color:  rgb(83, 82, 82);
  font-weight: bold;
}

.categoryBtnTriangle {
    transform: rotate(90deg);
    font-size: 26px;
    color:  rgb(113, 113, 113);
}

.greybgc {
  background-color: var(--secondary-color);
}

.formBtnSubmit {
  width: 98%;
  color: black;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px 10px;
  margin: 5px;
  align-self: center;
  display: flex;
justify-content: center;

  transition: all 0.3s ease 0s;
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.formBtnSubmit:hover,
.formBtnSubmit:focus {
  cursor: pointer;
  color: var(--white);

  background-color: var(--main-color);

  .formBtnSubmitIcon {
    filter: invert(1);
  }
}

.formBtnSubmitIcon {
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(29%) sepia(7%) saturate(6%) hue-rotate(320deg) brightness(97%) contrast(83%);
  transition: filter 0.3s ease-in-out;
}




