.btnTransactionWrapper {
display: flex;
justify-content: space-evenly;
margin: 7px;
}

.btnTransaction {
  display: flex;
  padding: 0px;
  background-color: inherit;
  transition: scale 0.3s ease 0s;
}

.btnTransaction:hover,
.btnTransaction:focus {
  cursor: pointer;
  scale: 1.05;
}

