@import "../../assets/styles/main";

.form {
  margin-top: 20px;

  & > .label {
    margin-bottom: 10px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  span {
    text-align: start;
    margin-bottom: 3px;
  }
}

.input {
  border-radius: var(--border-radius);
  font-size: 18px;
  border: 1px solid var(--white);
  padding: 5px;
  outline: none;
  background-color: var(--white) !important;
  box-sizing: border-box;

  &:focus {
    border: 1px solid var(--main-color);
    background-color: var(--white) !important;
  }
}
