@import "../../assets/styles/main";

.authWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form {

  & > .label {
    margin-bottom: 10px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  span {
    text-align: start;
    margin-bottom: 3px;
  }
}

.input {
  border-radius: var(--border-radius);
  font-size: 18px;
  border: 1px solid var(--white);
  padding: 5px;
  outline: none;
  background-color: var(--white) !important;
  box-sizing: border-box;

  &:focus {
    border: 1px solid var(--main-color);
    background-color: var(--white) !important;
  }
}

.passwordInputWrapper {
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }
}

.togglePasswordVisibility {
  position: absolute;
  top: 8px;
  right: 8px;
  width: fit-content;
  background: none;
  border: none;
}

.togglePasswordVisibility:hover {
  cursor: pointer;
}

.linkBtn {
  margin-top: auto;
  font-weight: 500;
  transition: var(--transition);
  text-decoration: underline;

}
