.App {
  padding: 8px 5px 0px;
  background: linear-gradient(
    to bottom,
    #30e8bf, #ff8235
  );
  height: 100vh;
  text-align: center;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 3px;
  max-width: 400px;
  /* height: 550px; */
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: rgb(237, 233, 222);
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}

