a {
  text-decoration: none;
}

button {
  border: none;
}

link {
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}


h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.App {
  margin: 0px;
  padding: 10px 0px;
  background-color: rgb(255, 131, 110);
  height: 100vh;
  text-align: center;
}

