a {
  text-decoration: none;
}

button {
  border: none;
}

link {
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}


h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.App {
  margin: 0px;
  padding: 10px 0px;
  background-color: tomato;
  text-align: center;
}

