@import-normalize;
@import "./assets/styles/main";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


//RESET DEFAULTS STYLES
a {
  text-decoration: none;
}

button {
  border: none;
  margin: 0px;
  padding: 0px;
}

link {
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}


h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

//STYLES
.page {
  background: linear-gradient(180deg, var(--secondary-color) 0%, var(--main-color) 75%);
  height: 100vh;
  text-align: center;
}

.wallet {
  transform: translateY(10px);

  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 3px;
  max-width: 375px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: rgb(237, 233, 222);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainWrapper {
  height: calc(100% - 60px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  }

.button {
  margin: 0 auto;
  padding: 8px 16px;
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  font-size: 18px;
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
  }
}

.link {
  color: var(--main-color);
  transition: var(--transition);
  &:hover {
    cursor: pointer;
    color: var(--secondary-color);
  }
}