:root {
    --main-color: rgb(242, 143, 57);
    --secondary-color: rgb(83, 82, 82);
    --main-bgc: rgb(234, 234, 234);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
    --border-radius: 3px;
    }